<!DOCTYPE html>
<html lang="en">

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="Index.cshtml">
            <img src="images/logo.png" alt="" />
            <span>
              Grassy
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="Index.cshtml">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="About.cshtml"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Product.cshtml"> Product </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Client.cshtml"> Client </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Contact.cshtml">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Blog.cshtml">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Faq.cshtml">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Gallery.cshtml">Gallery</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  
     <section class="hero_section">
      <div class="hero_detail">
        <h1>
          <span>
            H
          </span>
          <span>
            e
          </span>
          <span>
            r
          </span>
          <span>
            b
          </span>
          <span>
            a
          </span>
          <span>
            l
          </span>
        </h1>
        <h3>
          Natural Products
        </h3>
      </div>
      <div class="hero_btn-box">
        <a href="">
          Contact Us
        </a>
      </div>
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->
   <!-- about/Mission section -->
  <section class="Mission_section layout_padding">
    <div class="Mission_container">
      <div class="container">
        <div class="detail">
          <h2 class="custom_heading">
            Our Mission
          </h2>
          <p>
            Welcome to GrassyWomen! GrassyWomen was launched in 2022 by Debby, Anna, Meadow and Lagos.
            We are a super team of Women between the ages of 30 and 93. We have big dreams and a passion for formulating 
            Our Sustainably grown and tarpene rich cannabis products provide relief for women. 
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p>
            Savor Raw Cacao – We infused our organic raw cacao with cannabis and agave to create a delectable superfood that is both vegan 
            and gluten free.  
            Relax. Herbal Tincture – Our herbal tincture is a potent remedy blended from cannabis and healing herbs to help you relax both physically and mentally. 

          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end mission/about section -->
  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">
        Our Products
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="img-box box-1">
        <img src="~/img/product-1.jpg" alt="">
      </div>
      <div class="img-box box-2">
        <img src="~/img/product 2.png" alt="">
      </div>
      <div class="img-box box-3">
        <img src="~/img/product-3.jpg" alt="">
      </div>
      <div class="img-box box-4">
        <img src="~/img/product-4.jpg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">
        See More
      </a>
    </div>
  </section>
   <!-- end product section -->

  <!-- why section -->
   <section class="why_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-center text-center">
        <h2 class="custom_heading ">
          Why choose Us
        </h2>
        <p class="">
          Cannabis Products for Women, Created by Women – Available in WorldWide
          When the legendary Meadow decided at 90 years old to follow her heart and take a leap into the medical cannabis market, 
          she went looking for the best ingredients, 
          the best medicine, and the most talented infuser she could find. It was fate that brought her to Debby, who 
          enjoys a growing reputation as one of the best creators of medical cannabis products in Calgary.

          So Soak. Savor. Rub. Relax. your pain away with these GrassyWomen™.
        </p>
      </div>
    </div>
    <div class="why_container my-4">
      <div class="img_box">
        <img src="~/img/why photo.jpg" alt="">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">
        Read More
      </a>
    </div>
  </section>
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="col-md-6">
        <div class="d-flex mb-4 ml-4 ml-md-0">
          <h2 class="custom_heading text-center">
            CONTACT US
          </h2>
        </div>
        <form action="">
          <div>
            <input type="text" placeholder="Name" />
          </div>
          <div>
            <input type="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" placeholder="Pone Number" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="Message" />
          </div>
          <div class="d-flex justify-content-center mt-4 ">
            <button>
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>

  </section>
   <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">
        Testimonial
      </h2>
    </div>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="~/img/client.png" alt="">
              </div>
              <div class="detail_box">
                <h5>
                  <span>
                    L
                  </span>
                  <span>
                    a
                  </span>
                  <span>
                    g
                  </span>
                  <span>
                    o
                  </span>
                  <span>
                    s
                  </span>
                </h5>
                <p>
                  I have to be careful with the bath soak that I don't fall asleep in the tub. 
                  As you can see I'm sleeping well in this photo.
                  Thank you Grassy Women for the most outstanding, quality products in the cannabis industry.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="~/img/client 2.png" alt="">
              </div>
              <div class="detail_box">
                <h5>
                  <span>
                    M
                  </span>
                  <span>
                    e
                  </span>
                  <span>
                    a
                  </span>
                  <span>
                    d
                  </span>
                  <span>
                    o
                  </span>
                  <span>
                    w
                  </span>
                </h5>
                <p>
                  No More Hot Flashes
                  I'm 93 and suffer from hot flashes due to menopause. I also have increased anxiety since i went blind 6 months ago. 
                  The CBD Savor significantly reduces my hot flashes and anxiety, almost completely. 
                  This product is a miracle lifesaver for me. I was anti-cannabis for years because I bought into the missinformation, 
                  then i went blind and couldn't see any more misinformation, I'm so chill now.
                  To the women out there suffering from hot flashes, this is the real deal.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding">
              <div class="img_box">
                <img src="~/img/client 3.jpg" alt="">
              </div>

              <div class="detail_box">
                <h5>
                  <span>
                    S
                  </span>
                  <span>
                    o
                  </span>
                  <span>
                    t
                  </span>
                  <span>
                    o
                  </span>
                </h5>
                <p>
                 First off I just want to thank you ladies for the collaboration & time that you two put into this Product!
                 I wasn't even a woman before i found these products. Then at 90 years old, i found this product and became a Grassy Woman.
                 As soon as I got home I began to use the Rub, within minutes I had the first relief of pain since the procedure.
                 I was in sooooo much pain, emotional, and anxious. This product saved me. I am officially a GrassyWoman.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- end client section -->
    <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container layout_padding-top  layout_padding2-bottom">
      <div class="logo-box">
        <a href="Index.cshtml">
          <img src="~/img/info-logo.png" alt="">
        </a>
      </div>
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="~/img/location-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                Find us in the beautiful Rocky Mountain city of Calgary, Alberta. 
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="~/img/location-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                grassy@grassywomen.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="~/img/telephone-white.png" alt="" />
            </div>
            <div class="detail-box">
              <p>
                +01-587-234-7654
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </section>

    <!-- end header section -->
    <!-- hero section -->

  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
  </div>


  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GrassyWomen - <a asp-area="" asp-controller="Home" asp-action="Home">Home</a>
        </div>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


