@{
    ViewData["Title"] = "Home Page";
}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>GrassyWomen</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

body>
    <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              GrassyWomen
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="product.html"> Product </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="client.html"> Client </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- hero section -->
    <section class="hero_section">
      <div class="hero_detail">
        <h1>
          <span>
            n
          </span>
          <span>
            a
          </span>
          <span>
            t
          </span>
          <span>
            u
          </span>
          <span>
            r
          </span>
          <span>
            a
          </span>
          <span>
            l
          </span>
        </h1>
        <h3></h3>
          Natural product
          <h2></h2>
      </div>
      <div class="hero_btn-box">
        <a href="">
          Contact Us
        </a>
      </div>
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->

   <!-- Mission section -->
  <section class="Mission_section layout_padding">
    <div class="Mission_container">
      <div class="container">
        <div class="detail">
          <h2 class="custom_heading">
            Our Mission
          </h2>
          <p>
           Welcome to GrassyWomen!
           GrassyWomen was launched in 2022 by Debby, Anna, Meadow and Lagos.We are a super team of Women between the ages of 30 and 93. We have big dreams and a passion for formulating 
           Our Sustainabley grown and tarpene rich cannabis products provide relief for women experiencing menstrual cramps, discomfort, and menopause related symptoms. 
           We work closely with our cultivators to choose strains that contain the same terpene and cannabinoid profiles batch-to-batch.
           With a motivated team, our mission is to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.

          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="detail-2">
          <p>
           Savor. Raw Cacao – We infused our organic raw cacao with cannabis and agave to create a delectable superfood
           that is both vegan and gluten free. Whether you enjoy it on fruit, blended into your favorite hot beverage, or straight from 
           the spoon, we invite you to Savor the ultimate indulgent experience.

           Relax. Herbal Tincture – Our herbal tincture is a potent remedy blended from cannabis and healing herbs to help you relax both physically and mentally. Elderberries, 
           red raspberry leaf, motherwort, and passionflower combine to soothe pain and discomfort associated with menstruation. Our tincture can be enjoyed plain, or with
           the beverage of your choice: hot, cold, or sparkling.

           Soak. Lavender Bath Soak – Soak away stress, pain, and inflammation with organic lavender, cannabis and restorative salts. Our bath soak is rich in magnesium, 
           micronutrients and other minerals that support vibrant health, with avocado and jojoba oil to nourish and rejuvenate your skin.

           Rub. Body Balm – Our in-house herbalist hand picked a matrix of herbs that healers have used for thousands of years to help with muscle cramps and
           blended them with cannabis to create a salve that provides unsurpassed relief. Use this luxurious body balm with a partner or during self-care to smooth away deep body aches
           and menstruation cramps.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- end mission section -->
